.text-center {text-align:center;} 
.text-right {text-align:right;}
.text-left {text-align:left;} 
.text-all, .text-justify {text-align:justify;}

.center, .margin-auto {margin: auto;} 
.float-right {float:right;} 
.float-left {float:left;}
img.float-right {float:right;margin: 7px 14px;} 
img.float-left {float:left;margin: 7px 14px;}

.round {border-radius: 100%;}
.border-radius-10px{border-radius: 10px;}

.black-theme {background: #363636;color: white;}
.black-theme a {color: #C2C2C2;}
.light-theme {background: #FFFFFF;color: black;}
.black-theme .box {background: #757575;}

.d-block {display: block;}
.d-inline {display: inline;}
.d-inline-block {display: inline-block;}
.d-none, .hidden {display: none;}

.fixed {position: fixed}

.top {top:0}
.right {right: 0}
.left {left: 0}
.bottom {bottom: 0}

